td{
	padding: 0px;
}
.disabled{
	pointer-events: none;
	background-color: #DFDFDF !important;
	box-shadow: none;
	color: #9F9F9F !important;
	cursor: default;
}
#pswdIcon{
	margin: 5px;
	cursor: pointer;
}
.showedPswd{
	color: #f57c00;
}
.hiddenPswd{
	color: #424242;
}
#configTable{
	display: none;
}