.controlJog{
	padding: 0;
	margin: 0px auto;
}

.controlJog input{
	text-align: center;
	background: var(--color_s);
	color: var(--color_onsl);
	padding: 0;
	margin: 0;
	width: 40px;
	height: 40px;
	box-shadow: none;
	display: block;
	border: none;
	font-size: 14px;
}
.controlJog tr td input:hover{
	background: var(--color_sd);
	color: var(--color_onsd);
	transition: background .2s;
}
.controlJog td{
	padding: 0;
	text-align: center;
}
.controlJog td:nth-child(10){
	width: 40px;
}
#coordenadas{
	padding: 0px;
	margin: 0 auto;
	width: 200px;
	text-align: left;
}