:root{
	--color_bg: #FFF;
	--color_p: #9C27B0;
	--color_pl: #d05ce3;
	--color_pd: #6a0080;
	--color_s: #00c853;
	--color_sl: #5efc82;
	--color_sd: #009624;
	--color_onp: #FFF;
	--color_onpl: #000;
	--color_onpd: #FFF;
	--color_ons: #000;
	--color_onsl: #000;
	--color_onsd: #000;
	--color_error: #d50000;
	--color_errord: #9b0000;
	--color_onerror: #FFF;
	--color_onerrord: #FFF;
	--color_bgbox: #e0e0e0;
	--color_onbgbox: #000000;
	--color_bgboxl: #ffffff;
	--color_onbgboxl: #000000;
	--color_bgboxd: #aeaeae;
	--color_onbgboxd: #000000;
}
*{
	font-family: Arial;
	font-size: 16px;
}
body{
	padding: 0px;
	margin: 0;
	background: white;
	color: black;
}
#content{
	margin: 0 auto;
	padding: 10px 10px 0 10px;
	text-align: center;
}
.markedText{
	color: var(--color_p);
	font-weight: bold;
}
input[type="button"], input[type="submit"]{
	margin: 5px;
	padding: 10px 15px 10px 15px;
	border-width: 0;
	border-radius: 2px;
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	cursor: pointer;
}
input[type="button"].btn-active{
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6), 0 0px 15px 2px var(--color_s);
}
.btn{
	opacity: 1;
	background: var(--color_p);
	color: var(--color_onp);
}
.btn:hover{
	background: var(--color_pd);
	color: var(--color_onpd);
	transition: background .2s;
}
.btn-disabled{
	opacity: 0.38;
}
.btn-disabled:hover{
	background: var(--color_p);
	color: var(--color_onp);
	transition: none;
}
.btn-enabled{
	background: var(--color_s);
	color: var(--color_ons);
}
.btn-enabled:hover{
	background: var(--color_sd);
	color: var(--color_onsd);
	transition: background .2s;
}
.navbar-h{
	background: var(--color_p);
	color: var(--color_onp);
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	list-style-type: none;
}

.navbar-h li a{
	background: var(--color_p);
	color: var(--color_onp);
	font-size: 18px;
	float: left;
	padding: 0 15px 0 15px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
}
.navbar-h li a:hover{
	background: var(--color_pd);
	color: var(--color_onpd);
	transition: background .2s;
}
.navbar-v{
	background: var(--color_p);
	color: var(--color_onp);
	width: 100%;
	margin: 0;
	padding: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	list-style-type: none;
}
.navbar-v li{
	background: blue;
	text-align: center;
}
.navbar-v li a{
	display: block;
	background: var(--color_p);
	color: var(--color_onp);
	font-size: 18px;
	padding: 10px 15px 10px 15px;
	text-decoration: none;
}
.navbar-v li a:hover{
	background: var(--color_pd);
	color: var(--color_onpd);
	transition: background .2s;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
margin: 0px;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6.5px;
	cursor: pointer;
	background: var(--color_p);
	border-radius: 2px;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	height: 26px;
	width: 26px;
	border: none;
	border-radius: 13px;
	background: var(--color_s);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9.75px;
}
input[type=range]::-webkit-slider-thumb:hover{
	background: var(--color_sd);
	transition: background .2s;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var(--color_p);
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 6.5px;
	cursor: pointer;
	background: var(--color_p);
	border-radius: 2;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	height: 26px;
	width: 26px;
	border: none;
	border-radius: 13px;
	background: var(--color_s);
	cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover{
	background: var(--color_sd);
	transition: background .2s;
}
h1{
	font-size: 24px;
}

#msgbox{
	background: var(--color_s);
	color: var(--color_ons);
	display: block;
	margin: 3px;
	padding: 20px;
	border: none;
	border-radius: 5px;
	opacity: 0;
	z-index: 1000;
	text-align: center;
	position: fixed;
	bottom: 0;
	transition: opacity 0.5s;
}

[tooltip]{
	position: relative;
}
[tooltip]::before{
	content: "";
	position: absolute;
	top: -3px;
	left: 50%;
	transform: translateX(-50%);
	border-width: 4px 6px 0 6px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	z-index: 99;
	opacity: 0;
}
[tooltip]::after{
	white-space: nowrap;
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	top: -3px;
	transform: translateX(-50%) translateY(-100%);
	background: #555;
	text-align: center;
	color: #fff;
	padding: 5px;
	font-size: 12px;
	min-width: 80px;
	border-radius: 5px;
	pointer-events: none;
	z-index: 99;
	opacity: 0;
}
[tooltip]:hover::after,[tooltip]:hover::before{
	opacity: 1;
	transition: opacity 0.2s;
}