form{
	padding: 0;
	width: 100%;
}
form input[type="file"]{
	margin: 20px auto;
	padding: 0;
}
form input[type="submit"]{
	display: block;
	margin: auto;
}
#status{
	color: var(--color_s);
	font-weight: bold;
}