#temperaturas{
	width: 100%;
	max-width: 500px;
	float: left;	
}
.ct-series-a .ct-line{
	stroke: var(--color_pl);
	stroke-width: 1px;
}
.ct-series-b .ct-line{
	stroke: var(--color_p);
	stroke-width: 2px;
}
.ct-grids line{
	stroke: var(--color_bgboxd);
}
.ct-labels span{
	color: var(--color_onbgboxd);
}