.calib-btn{
	fill: $secondary-color;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                       supported by Chrome and Opera */
}
.calib-btn:hover{
	transition: .2s fill;
	fill: lighten($secondary-color, 5%);
}
.calib-btn.disabled{
	fill: #b3b3b3 !important;
	pointer-events: none;
	cursor: default;
}
.calib-btn.active{
	fill: $error-color !important;
}
.calib-btn.saved{
	fill: $success-color !important;
}