body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
}
.sidenav-logo{
	text-align: center;
	margin: 20px;
}
.waves-effect.waves-primary .waves-ripple{
	background-color: rgba($secondary-color,0.65);
}
#content{
	padding-top: 20px;
}
.graph{
	fill: $secondary-color;
}
.graph-disabled{
	fill: #b3b3b3;
}
.svg-btn{
	fill: $secondary-color;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
						supported by Chrome and Opera */
}
.svg-btn:hover{
	transition: .2s fill;
	fill: lighten($secondary-color, 5%);
}
.svg-btn.disabled{
	fill: #b3b3b3 !important;
	pointer-events: none;
	cursor: default;
}
.svg-btn.active{
	fill: $error-color !important;
}
.svg-btn.saved{
	fill: $success-color !important;
}