#calcularBtn{
	display:none;
}
#progress{
	display:none;
}
#fileInput{
	display: block;
}
#resultadosRow{
	display: none;
}
#filamentWindow table td{
	padding: 0px;
}
#deleteFilament{
	display: none;
}