/*Temperaturas*/
/*Extrusor*/
.ct-series-a .ct-line{
	stroke: red;
	stroke-width: 1px;
}
.ct-series-b .ct-line{
	stroke: red;
	stroke-width: 2px;
}
/*Cama*/
.ct-series-c .ct-line{
	stroke: blue;
	stroke-width: 1px;
}
.ct-series-d .ct-line{
	stroke: blue;
	stroke-width: 2px;
}
/*Grilla*/
.ct-grids line{
	stroke: grey;
}
.ct-labels span{
	color: grey;
}
#tempChart{
	height: 538px;
}
#tempValues tr{
	background: lime;
	padding: 0;
}
#extruderTemp{
	color: red;
}
#bedTemp{
	color: blue;
}

/*File list*/
#fileList{
	max-height: 538px;
	overflow-y: auto;
	display: none;
}
#fileListProgress{
	display: block;
}
#fileList td{
	padding: 10px;
}
#fileList td:first-child{
	width: 1px;
}
.selectedFile{
	background-color: rgba(245,124,0,0.4);
}
table.highlight > tbody > tr.selectedFile:hover {
	background-color: rgba(245,124,0,0.5);
}
#fileList tr > td{
	cursor: pointer;
}